body.modal-active {
  overflow: hidden;
}

.modal-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.5s ease-in-out;
}

.modal-container.closing {
  animation: fadeOut 0.5s ease-in-out;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  max-width: 1200px;
  width: 90%;
  animation: unfold 0.5s forwards;
  position: relative;
}

.modal-content.closing {
  animation: fold 0.5s forwards;
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
  transition: color 0.3s;
}

.modal-close-btn:hover {
  color: #df5c0f;
}

@keyframes unfold {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fold {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.85);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

@keyframes fadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.75);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

/* Estilos do conteúdo */
.character-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.character-details h2 {
  font-size: 2rem;
  color: #035f9b;
  margin-bottom: 1rem;
}

.character-profile-image {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.5) !important;

}


.character-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  width: 100%;
}

.character-info-item {
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.character-info-item h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #02a09d;
}

.character-info-item p {
  margin: 0;
  color: #555;
}

@media (max-width: 768px) {
  .modal-content {
    padding: 1.5rem;
  }

  .character-details h2 {
    font-size: 1.5rem;
  }
}
